.Main-bg {
  position: relative;
    }
    
  
  .Main-bg img  {
    width: 98.932vw;
    height: 81.6075vw;
    position: relative;
margin-bottom: -0.9vw;
z-index: -2;
flex-grow: 1;
  }
  
  .top {
    position:absolute;
    top: 12.5vw;
    left: 32vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: #edefee;
  }

  .Main-weather{
    margin-top: -1.35vw;
    font-size: 1.69vw;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  
  .Main-city{
    font-size: 2.03vw;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  .degrees-top{
    font-size:3.38vw;
    margin-top: 5%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  .top img {
    width: 5vw;
    height: 5%;
    margin-left: 31%;
    margin-top: -10%;
  }
  
  .Main-details {
    position: absolute;
    top: 19.35vw;
    left: 62%;
    color: #edefee;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.35vw;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    z-index: 2;
    
  }
  
  .Details {
    font-size: 2.03vw;
    font-weight: bold;
    margin-bottom: 0.68vw;
  }
  
  .Main-details > div {
    display: flex;
    justify-content: space-between;
    width: 120%;
    margin-bottom: 0.68vw;
    font-size: 1.69vw;
    font-weight: bold;
  }
  .Pressure-meassured{
    margin-left: 5%;
  }
  
  .Main-details > div > p {
    margin: 0;
  }

  @media screen and (max-width: 880px )and (min-width: 769px){
    .Main-bg img{
      width: 100vw; 
    }
    .top img {
      width: 5vw;
      height: 5%;
      margin-left: 31%;
      margin-top: -10%;
    }
  }
 
  @media screen and (max-width: 769px) {
    /* apply styles for screens with a maximum width of 768px, such as smaller, vertical screens */
    .Main-bg img {
      height: 180vw; /* increase the height to 120% of the viewport width */
      width: 100vw;
      margin-bottom: -1.8vw; /* adjust the margin to maintain the aspect ratio */
    }
    .top img {
      width: 5vw;
      height: 5%;
      top: 5%;
    }
    .top {
      position:absolute;
      top: 52.5vw;
      left: 31%;
      z-index: 1;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      color: #edefee;
    }
  

    .Main-details {
      position: absolute;
      top: 59.3vw;
      left: 60%;
      color: #edefee;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 1.35vw;
      text-shadow: -0.5px -0.5px 0.5px rgba(0, 0, 0, 1), 0.5px -0.5px 0.5px rgba(0, 0, 0, 1), -0.5px 0.5px 0.5px rgba(0, 0, 0, 1), 0.5px 0.5px 0.5px rgba(0, 0, 0, 1);
 
      z-index: 2;
      
    }
    .Main-weather{
      text-shadow: -0.5px -0.5px 0.5px rgba(0, 0, 0, 1), 0.5px -0.5px 0.5px rgba(0, 0, 0, 1), -0.5px 0.5px 0.5px rgba(0, 0, 0, 1), 0.5px 0.5px 0.5px rgba(0, 0, 0, 1);

    }
    .Main-city{
      text-shadow: -0.5px -0.5px 0.5px rgba(0, 0, 0, 1), 0.5px -0.5px 0.5px rgba(0, 0, 0, 1), -0.5px 0.5px 0.5px rgba(0, 0, 0, 1), 0.5px 0.5px 0.5px rgba(0, 0, 0, 1);

    }
    .degrees-top{
      text-shadow: -0.5px -0.5px 0.5px rgba(0, 0, 0, 1), 0.5px -0.5px 0.5px rgba(0, 0, 0, 1), -0.5px 0.5px 0.5px rgba(0, 0, 0, 1), 0.5px 0.5px 0.5px rgba(0, 0, 0, 1);

      margin-top: 18%
    }

  }