.Navbar-bg{
    z-index: 2;
}

.Navbar-search input{
    position: absolute;
    display: flex;
    top: 2.5vw;
    left: 32.4vw;
    width: 37.1vw;
    height: 3.34vw;
    border-radius: 1.35vw;
    z-index: 2;
}

.Navbar-search input[type="text"]::placeholder {
    color: #666362;
    font-weight: bold;
    text-indent: 1.01vw; /* added to move placeholder text inside input field */
    font-size: 1.69vw;
    
  }
  .Navbar-search input[type="text"] {
    
    border: none;
    color: #1B1212;
    font-size: 1.69vw;
    font-weight: 500;
  }
 
  .suggestions{
    position: absolute;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    margin-top: 6.5vw;
    margin-left: 32.4vw;
    border-radius: 0.35vw;
    background-color: #edefee;
    width: 37.1vw;
    
  }
  .suggestion{
    z-index: 3;
    border-bottom: 1px solid gray;
    bottom: -20vw;
    font-size: 1.35vw;
    font-weight: 350;
    color: #1B1212;
  }
  .suggestion:hover {
    background-color: blue;
    color: #edefee;
    font-weight: 500;
    border-bottom: 1px solid blue;
    border-radius: 0.14vw;
  }
  
  @media screen and (max-width: 770px){
    .Navbar-bg{
      z-index: 2;
  }
  
  .Navbar-search input{
      position: absolute;
      display: flex;
      top: 33.38vw;
      left: 32vw;
      width: 37.1vw;
      height: 3.34vw;
      border-radius: 1.35vw;
      z-index: 2;
  }
  .suggestions{
    position: absolute;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    margin-top: 38.5vw;
    margin-left: 32.4vw;
    border-radius: 0.35vw;
    background-color: #edefee;
    width: 37.1vw;
    
  }
  .suggestion:hover {
    background-color: blue;
    color: #edefee;
    font-weight: 500;
    border-bottom: 1px solid blue;
    border-radius: 0.14vw;
  }
  
  .Navbar-search input[type="text"]::placeholder {
      color: #666362;
      font-weight: bold;
      text-indent: 1.01vw; /* added to move placeholder text inside input field */
      font-size: 2vw;
      
    }
    .Navbar-search input[type="text"] {
      
      border: none;
      color: #1B1212;
      font-size: 2vw;
      font-weight: 600;
    }
  
    .suggested-cities{
      z-index: 5;
      color: #1B1212;
      margin-left: 500px;
      margin-top: 200px;
      position: absolute;
    }
  }