.Navbar-bg{
    z-index: 2;
}

.Navbar-search input{
    position: absolute;
    display: flex;
    top: 3.38vw;
    left: 32.4vw;
    width: 37.1vw;
    height: 3.34vw;
    border-radius: 1.35vw;
    z-index: 2;
}

.Navbar-search input[type="text"]::placeholder {
    color: #666362;
    font-weight: bold;
    text-indent: 1.01vw; /* added to move placeholder text inside input field */
    font-size: 1.69vw;
    
  }
  .Navbar-search input[type="text"] {
    
    border: none;
    color: #1B1212;
    font-size: 1.69vw;
    font-weight: 500;
  }

  .Navbar-matched-cities{
    color: #1B1212;
  }

  @media screen and (max-width: 770px){
    .Navbar-bg{
      z-index: 2;
  }
  
  .Navbar-search input{
      position: absolute;
      display: flex;
      top: 43.38vw;
      left: 32.4vw;
      width: 37.1vw;
      height: 3.34vw;
      border-radius: 1.35vw;
      z-index: 2;
  }
  
  .Navbar-search input[type="text"]::placeholder {
      color: #666362;
      font-weight: bold;
      text-indent: 1.01vw; /* added to move placeholder text inside input field */
      font-size: 2vw;
      
    }
    .Navbar-search input[type="text"] {
      
      border: none;
      color: #1B1212;
      font-size: 2vw;
      font-weight: 600;
    }
  
    .suggested-cities{
      z-index: 5;
      color: #1B1212;
      margin-left: 500px;
      margin-top: 200px;
      position: absolute;
    }
  }